.row {
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y, 0));
	margin-right: calc(-0.5 * var(--bs-gutter-x, 1.5rem));
	margin-left: calc(-0.5 * var(--bs-gutter-x, 1.5rem));
}

.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x, 1.5rem) * 0.5);
	padding-left: calc(var(--bs-gutter-x, 1.5rem) * 0.5);
	margin-top: var(--bs-gutter-y, 0);
}

.gy-4 {
	--bs-gutter-y: 1.5rem;
}

.col-lg-4 {
	width: 100%;
}

@media (min-width: 992px) {
	.col-lg-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}
}

.d-flex {
	display: flex !important;
}

.flex-column {
	flex-direction: column !important;
}

.justify-content-center {
	justify-content: center !important;
}

.align-items-center {
	align-items: center !important;
}

.fst-italic {
	font-style: italic !important;
}

@media (min-width: 992px) {
	.justify-content-lg-between {
		justify-content: space-between !important;
	}
}